@import '../base/vars';

.header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   padding: toRem(20) 0;
   z-index: 100;
}

.header__first-row {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: toRem(16);
   line-height: toRem(24);
   color: $textSecondColor;
   margin-bottom: toRem(40);
   gap: toRem(10);
   flex-wrap: wrap;
}
.header__contacts {
   display: flex;
   gap: toRem(30);
   flex-wrap: wrap;
}
.header__phone-wrapper {
   position: relative;
   display: flex;
   align-items: center;
   & .header__submenu {
      width: toRem(170);
      text-wrap: nowrap;
   }
   @media (any-hover:hover) {
      &:hover {
         &>.header__submenu {
            opacity: 1;
            visibility: visible;
            transform: rotateX(0deg);
         }
          & img:last-child {
               transform: rotateX(180deg);
         }
         & .header__phone-link {
                     filter: $filter;
         } 
      }
   } 
}

.header__phone-link {
   display: flex;
   gap: toRem(4);
   align-items: center; 
   & img {
      transition: $mainTransition;
   }
}
.header__phone {
   text-wrap: nowrap;
}
.header__email-wrapper {
   display: flex;
   gap: toRem(6);
   align-items: center;
   @media (any-hover:hover) {
      &:not(span):hover {
        filter: $filter
      }
    }  
}

.header__nav-list {
   display: flex;
   justify-content: space-between;
   gap: toRem(30);
   align-items: center;
   text-wrap: nowrap;
   flex-wrap: wrap; 
   & img {
      transition: $mainTransition;
   }
   & li {
      @media (any-hover:hover) {
         &:hover {
            &>.header__submenu {
               opacity: 1;
               visibility: visible;
               transform: rotateX(0deg);
            }
            & img {
               transform: rotateX(180deg);
            }
            & .header__nav-link {
                     filter: $filter;
               } 
            }
         }
    } 
}

.header__nav-item {
   position: relative;

}

.header__nav-link {
   display: flex;
   gap: toRem(5);
   align-items: center;
   line-height: 0;
   line-height: 1;
}

.header__submenu {
   position: absolute;
   top: 100%;
   left: 0;
   background-color: $whiteColor;
   z-index: 150;
   font-size: toRem(12);
   line-height: 1;
   box-shadow: 0 0 4px 0 rgba($color: #000, $alpha: 0.5);
   transform-origin: 0 0;
   transform: rotateX(-90deg);
   transition: $mainTransition;
   visibility: hidden;
   opacity: 0;
   overflow: hidden;
   & a {
      padding: toRem(16);
      display: block;
      line-height: 1;
      font-size: toRem(16); 
      @media (any-hover:hover) {
         &:hover {
           background-color: $greyColor50;
         }
       }      
   }
}

.header__second-row {
   display: flex;
   justify-content: space-between;
   gap: toRem(20);
}

.header__logo {
   height: toRem(44);
   object-fit: contain;
}

.header__search-wrapper {
   display: flex;
   justify-content: space-between;
   gap: toRem(16);
   width: 100%;
   max-width: toRem(696);
}
.header__catalogue-btn {
   @include main-btn;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: toRem(8);
   border-radius: toRem(6);
   flex-basis: 130px;
   flex-grow: 1;
   flex-shrink: 0;
   & img {
      width: toRem(16);
      object-fit: contain;
   }
}

.header__search-field {
   flex-basis: 550px;
   flex-grow: 2;
   position: relative;
}

.header__search-input {
   width: 100%;
   height: toRem(44);
   border-radius: toRem(4);
   padding: toRem(3) toRem(50) toRem(3) toRem(16);
   border: 1px solid $greyColor400;
   &:focus {
      outline: none !important;
      border:1px solid $blueColor;
   }
}
.header__search-submit {
   position: absolute;
   top: toRem(4);
   right: toRem(4);
   background-color: $blueColor;
   border-radius: toRem(4);
   width: toRem(40);
   height: toRem(36);
   padding: toRem(8) toRem(10);
   text-align: center;
   vertical-align: baseline;
   @media (any-hover:hover) {
      &:hover {
        background-color: $blueHoverColor;
      }
    }  
}

.header__search-result {
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   right: 0;
   background-color: red;
   transform: translateY(25%)
}

.header__actions-list {
   display: flex;
   gap: toRem(3);
}

.header__actions-item {
   min-width: toRem(76);
   text-align: center;
   position: relative;
   & a {
      display: flex;
      flex-direction: column;
      gap: toRem(4);
      font-size: toRem(14);
      line-height: toRem(18);
      color: $textSecondColor;
   }
   & >span {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 50%;
      transform: translate(100%, -50%);
      min-width: toRem(20);
      height: toRem(20);
      border-radius: 50px;
      background-color: red;
      font-size: toRem(12);
      line-height: toRem(20);
      font-weight: 700;
      color: $whiteColor;
      text-align: center;
      z-index: 140;
      padding: 0 toRem(5);
      overflow: hidden;
      width: fit-content;
   }
}

.header__actions-item {
   & a {
      @media (any-hover:hover) {
         &:not(span):hover {
            filter: $filter;
         }
      }  
   }
   & img {
      height: toRem(20);
      object-fit: contain;
   }
}

.header__catalogue-layer {
   display: none;
   position: absolute;
   background: red;
   top: 100%;
   left: 0;
   right: 0;
   transform: translateY(-50%);
   z-index: 150;
}