@import '../base/vars';

.header {
   position: relative;
   top: 0;
   left: 0;
   right: 0;
   padding: toRem(20) 0;
   z-index: 150;
   background-color: $whiteColor;
}

@media (max-width: $tablet) {
   .header {
      display: none;
   }
}