@import './vars';

.app__wrapper {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.container {
   max-width: $containerWidth;
   margin: 0 auto;
   padding: 0 10px;
}

// @mixin title {
//    font-size: $mainTitleSize;
//    font-weight: 700;
//    line-height: 1.3;
//    color: $textColor;
// }

// @mixin link-btn ($backgroundColor, $color){
//    display: inline-block;
//    border: none;
//    position: relative;
//    background-color: $backgroundColor;
//    color: $color;
//    transition: $mainTransition;
//    box-shadow: $boxShadow;
//    @media (any-hover:hover) {
//       &:hover {
//          transform: translateY(3px);
//       }
//    }
// }
