@import './vars';

.app__wrapper {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.main {
   flex: 1 1 auto;
}

.container {
   max-width: $containerWidth;
   margin: 0 auto;
   padding: 0 15px;
}

@mixin btn($mainColor, $secondColor, $pY: 5px, $pX: 5px, $r: 5px) {
   display: inline-block;
   border: none;
   color: $mainColor;
   background: $secondColor;
   font-size: inherit;
   border-radius: $r;
   padding: $pY $pX;
   text-align: center;
   cursor: pointer;
   text-wrap: nowrap;
   overflow: hidden;
   transition: $mainTransition;
   text-transform: uppercase;

   @media (any-hover:hover) {
      &:hover {
         color: $secondColor;
         background-color: $mainColor;
      }
   }
}
