html {
   line-height: 1.15;
   -webkit-text-size-adjust: 100%;
   box-sizing: border-box;
}

*,
*::after,
*::before {
   box-sizing: inherit;
}

body {
   height: 100%;
   margin: 0;
   overflow-x: hidden;
   overflow-y: auto;
}

ul {
   margin: 0;
   padding: 0;
}

ul li {
   list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

p {
   margin: 0;
}

a {
   text-decoration: none;
   color: inherit;
   line-height: 0;
}

button {
   cursor: pointer;
   color: inherit;
   font-family: inherit;
   display: inline-block;
   font-size: inherit;
   border: none;
}

input, textarea {
   font-family: inherit;
}

input::placeholder, textarea::placeholder {
   font-family: inherit;
}

input:focus, textarea:focus
{
   outline: none !important;
}

textarea {
   resize: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #ffff !important;
    color: #000 !important;
    -webkit-text-fill-color: #000 !important;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:active,
textarea:-webkit-autofill:focus {
    background-color: #ffff !important;
    color: #000 !important;
    -webkit-text-fill-color: #000 !important;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {            
   display: none; 
}

input[type="radio" i], input[type="checkbox" i] {
    margin: 0 0 0 0;
}