// colors

$mainColor: #FFB600;
$secondColor: #FEDA7F;
$textColor: #473B35;
$whiteColor: #FCFCFC;
$greyColor: #909090;

// interactions

$boxShadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
$mainTransition: all .3s ease-out;

// mockup width

$maxWidth: toRem(1920);
$minWidth: toRem(375);

// container width

$maxWidthContainer: toRem(1572);

$containerPadding: toRem(10);

$containerWidth: $maxWidthContainer + $containerPadding;

// device width

$ps: toEm($containerWidth);
$tablet: toEm(991.98);
$sTablet: toEm(767.98);
$mobile: toEm(575.98);
$sMobile: toEm(375.98);

// titles size

$mainTitleSize: toRem(76);
$secondTitleSize: toRem(56);
$thirdTitleSize: toRem(36);

// mixins

@mixin mainTitle {
  font-size: $mainTitleSize;
  font-weight: 700;
  line-height: 1.3;
  color: $textColor;
}

@mixin link-btn ($backgroundColor, $color) {
  display: inline-block;
  border: none;
  position: relative;
  background-color: $backgroundColor;
  color: $color;
  transition: $mainTransition;
  box-shadow: $boxShadow;

  @media (any-hover:hover) {
    &:hover {
      transform: translateY(3px);
    }
  }
}

@mixin adaptiveValue($property, $S-max, $S-min ) {
  $k: calc(($S-max - $S-min)/(768 - 320));
  $b: $S-min - $k * 320;

  $b: $b + px;
  #{$property}: calc(#{$k} * 100vw + #{$b})
}

// functions

@function toRem($value) {
  $remValue: (
    $value / 16) + rem;
  @return $remValue;
}

@function toEm($value) {
  $remValue: (
    $value / 16) + em;
  @return $remValue;
}
